{% extends "base.html" %}

{% block navbar %}
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <!--li><a href="page-login.html">Login</a></li-->
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="/"><img src="{{ url_for('.static',filename='img/logo.png') }}" alt="MediaLab"></a></li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="/">Product</a>
                </li>
                <li class="active">
                    <a href="/contact">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Contact Us</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
    	<div class="row">
    		<div class="col-sm-7">
    			<!-- Map -->
    			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1528.1866249001528!2d116.32762939999999!3d40.00010954999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0541e5eeaf969%3A0xc3ede7b605985a20!2sBeijing+Tsinghua+Yuan+Offset+Printing+Factory%2C+Haidian%2C+Beijing%2C+China%2C+100084!5e0!3m2!1sen!2sus!4v1443773029948" width="400" height="300" frameborder="0" style="border:0" allowfullscreen alt="Location"></iframe>
    			<!-- End Map -->
    			<!-- Contact Info -->
    			<p class="contact-us-details">
    				<b>Address:</b> Beijing Tsinghua Yuan Offset Printing Factory, Haidian, Beijing, China<br/>
    				<b>Phone:</b> +86 18507126543<br/>
    				<b>Fax:</b> --- <br/>
    				<b>Email:</b> <a href="mailto:gujiawen000@gmail.com">gujiawen000@gmail.com</a>
    			</p>
    			<!-- End Contact Info -->
    		</div>
    		<div class="col-sm-5">
    			<!-- Contact Form -->
    			<h3>Send Us a Message</h3>
    			<div class="contact-form-wrapper">
        			<form class="form-horizontal" role="form">
        				 <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label"><b>Your name</b></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="Name" type="text" placeholder="">
                            </div>
                        </div>
						<div class="form-group">
							<label for="contact-email" class="col-sm-3 control-label"><b>Your Email</b></label>
							<div class="col-sm-9">
								<input class="form-control" id="contact-email" type="text" placeholder="">
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-3 control-label"><b>Select Topic</b></label>
							<div class="col-sm-9">
								<select class="form-control" id="prependedInput">
									<option>Please select topic...</option>
									<option>General</option>
									<option>Services</option>
									<option>Orders</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-3 control-label"><b>Message</b></label>
							<div class="col-sm-9">
								<textarea class="form-control" rows="5" id="contact-message"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn pull-right">Send</button>
							</div>
						</div>
        			</form>
        		</div>
        		<!-- End Contact Info -->
    		</div>
    	</div>
	</div>
</div>
{% endblock %}