{% extends "base.html" %}
{% block navbar %}
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <!--li><a href="page-login.html">Login</a></li-->
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="/"><img src="{{ url_for('.static',filename='img/logo.png') }}" alt="MediaLab"></a></li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li  class="active">
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/">Product</a>
                </li>
                <li>
                    <a href="/contact">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Download</h1>
            </div>
        </div>
    </div>
</div>
 

 <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                    <a href="{{ url_for('.static', filename='download/medialab.ts') }}" style="font-size:20px">Download it!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</html>
