{% extends "base.html" %}
{% extends "navbar" %}
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <!--li><a href="page-login.html">Login</a></li-->
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="/"><img src="{{ url_for('.static',filename='img/logo.png') }}" alt="MediaLab"></a></li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li  class="active">
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/">Product</a>
                </li>
                <li>
                    <a href="/contact">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Download</h1>
            </div>
        </div>
    </div>
</div>
 

 <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                    <a href="{{ url_for('.static', filename='download/medialab.ts') }}" style="font-size:20px">Download it!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
        
        

        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-footer col-md-3 col-xs-6">
                        <h3>Our Latest Work</h3>
                        <!--div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="page-portfolio-item.html"><img src="img/portfolio6.jpg" alt="Project Name"></a>
                            </div>
                        </div-->
                    </div>
                    <div class="col-footer col-md-3 col-xs-6">
                        <h3>Navigate</h3>
                        <!--ul class="no-list-style footer-navigate-section">
                            <li><a href="page-blog-posts.html">Blog</a></li>
                            <li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
                            <li><a href="page-products-3-columns.html">eShop</a></li>
                            <li><a href="page-services-3-columns.html">Services</a></li>
                            <li><a href="page-pricing.html">Pricing</a></li>
                            <li><a href="page-faq.html">FAQ</a></li>
                        </ul-->
                    </div>
                    
                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>Contacts</h3>
                        <p class="contact-us-details">
                            <b>Address:</b> Beijing Tsinghua Yuan Offset Printing Factory B03, Haidian, Beijing, China<br/>
                            <b>Phone:</b> +86 18507126543<br/>
                            <b>Fax:</b> --- <br/>
                            <b>Email:</b> <a href="mailto:gujiawen000@gmail.com">gujiawen000@gmail.com</a>
                        </p>
                    </div>
                    <div class="col-footer col-md-2 col-xs-6">
                        <h3>Stay Connected</h3>
                        <ul class="footer-stay-connected no-list-style">
                            <li><a href="#" class="facebook"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="googleplus"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright">&copy; 2015 MediaLab. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('.static',filename='js/jquery-1.9.1.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('.static',filename='js/bootstrap.min.js') }}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{{ url_for('.static',filename='js/jquery.fitvids.js') }}"></script>
        <script src="{{ url_for('.static',filename='js/jquery.sequence-min.js') }}"></script>
        <script src="{{ url_for('.static',filename='js/jquery.bxslider.js') }}"></script>
        <script src="{{ url_for('.static',filename='js/main-menu.js') }}"></script>
        <script src="{{ url_for('.static',filename='js/template.js') }}"></script>

    </body>
</html>
