{% extends "base.html" %}

{% block navbar %}
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <!--li><a href="page-login.html">Login</a></li-->
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="/"><img src="{{ url_for('.static',filename='img/logo.png') }}" alt="MediaLab"></a></li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/">Product</a>
                </li>
                <li>
                    <a href="/contact">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Features</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="{{ url_for('.static',filename='img/homepage-slider/slide2.png') }}" alt="Powerful and Faster">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Powerful and faster</h3>
                <p>
                    2X real time 4k 30fps by 1 RU server
                </p>
                <p>
                    Live 4K encoding/transcoding in a single 1 RU high-density server
                </p>
                <p>
                    8X real-time 1080p 30fps by 1 RU server
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="{{ url_for('.static',filename='img/homepage-slider/slide3.png') }}" alt="Peerless flexibility">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Peerless flexibility</h3>
                <p>
                    Introducing new channels and live broadcasting in hours, not days
                </p>
                <p>
                    Multi-functional agile infrastructure renders continuous provisioning of one-time-use and single-functional hardware obsolete
                </p>
                <p>
                    Upgrade from SD to HD without changing your existing Internet infrastructure.
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="{{ url_for('.static',filename='img/reduce.jpg') }}" alt="Cost Ruduction">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Substantioal cost reduction</h3>
                <p>
                    30% in capital expenses
                </p>
                <p>
                    50% in bandwidth
                </p>
                <p>
                    50% in energy
                </p>
                <p>
                    50% in rack space
                </p>

            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="{{ url_for('.static',filename='img/performance.jpg') }}" alt="Less hardware">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Less hardware, lower cost, and painless maintenance</h3>
                <p>
                    30% hardware reduction
                </p>
                <p>
                    50% less maintenance workload
                </p>
                <p>
                    Smooth transformational upgrade.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}