{% extends "base.html" %}
{% block content %}
<!-- Homepage Slider -->
<div class="homepage-slider"> 
	<div id="sequence"> 
		<ul class="sequence-canvas">
			<!-- Slide 1 -->
			<li class="bg4">
				<!-- Slide Title -->
				<h2 class="title">4K Realtime</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">Brilliant HEVC software Live 4K60 encoder/Transcoder</h3>
				<!-- Slide Image -->
				<img class="slide-img" src="{{ url_for('.static',filename='img/homepage-slider/slide.png') }}" alt="Slide 1" />
			</li>
			<!-- End Slide 1 -->
			<!-- Slide 2 -->
			<li class="bg3">
				<!-- Slide Title -->
				<h2 class="title">Powerful and Faster</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">
					<li>Fastest in broadcast-grade encoding/transcoding.</li><br/>
					<li>Less hardware, lower cost, and painless maintenance.</li>
				</h3>
				<!-- Slide Image -->
				<img class="slide-img" src="{{ url_for('.static',filename='img/homepage-slider/slide2.png') }}" alt="Slide 2" />
			</li>
			<!-- End Slide 2 -->
			<!-- Slide 3 -->
			<li class="bg2">
				<!-- Slide Title -->
				<h2 class="title">Peerless flexibility</h2>
				<!-- Slide Text -->
				<h3 class="subtitle">
					<li>Introducing new channels and live broadcasting in hours, not days</li><br/>
					<li>OTT Cloud supported</li><br/>
					<li>Upgrade from SD to HD without changing your existing Internet infrastructure</li>

				</h3>
				<!-- Slide Image -->
				<img class="slide-img" src="{{ url_for('.static',filename='img/homepage-slider/slide3.png') }}" alt="Slide 3" />
			</li>
			<!-- End Slide 3 -->
		</ul>
		<div class="sequence-pagination-wrapper">
			<ul class="sequence-pagination">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Homepage Slider -->

<!-- Press Coverage -->
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="in-press press-wired">
					<a href="#">Sentence1</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="in-press press-mashable">
					<a href="#">Sentence2</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="in-press press-techcrunch">
					<a href="#">Sentence3</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Press Coverage -->

<!-- Services -->
<div class="section">
    <div class="container">
    	<div class="row">
    		<div class="col-md-4 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ url_for('.static',filename='img/service-icon/diamond.png') }}" alt="Service 1">
        			<h3>Events</h3>
        			<p>We attended IBC two weeks ago...</p>
        			<a href="#" class="btn">Read more</a>
        		</div>
    		</div>
    		<div class="col-md-4 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ url_for('.static',filename='img/service-icon/ruler.png') }}" alt="Service 2">
        			<h3>Specification</h3>
        			<p>In the page, you can see the sepcification here.</p>
        			<a href="#" class="btn">Read more</a>
        		</div>
    		</div>
    		<div class="col-md-4 col-sm-6">
    			<div class="service-wrapper">
        			<img src="{{ url_for('.static',filename='img/service-icon/box.png') }}" alt="Service 3">
        			<h3>Any Question?</h3>
        			<p>You can ask question here.</p>
        			<a href="#" class="btn">Read more</a>
        		</div>
    		</div>
    	</div>
    </div>
</div>
<!-- End Services -->

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>Want to test our Encoder?</h3> <a href="/upload" class="btn btn-orange">Click here!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->



<!-- Our Clients -->
<div class="section">
	<div class="container">
		<h2>Our Clients</h2>
		<div class="clients-logo-wrapper text-center row">
			<div class="col-lg-1 col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="{{ url_for('.static',filename='img/logos/long.png') }}" alt="Startimes"></a></div>
			
			<div class="col-lg-1 col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="{{ url_for('.static',filename='img/logos/dell.png') }}" alt="Dell"></a></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{{ url_for('.static',filename='img/logos/Intel.png') }}" alt="Intel"></a></div>
			<div class="col-lg-1 col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="{{ url_for('.static',filename='img/logos/kontron.png') }}" alt="Kontron"></a></div>
		</div>
	</div>
</div>
<!-- End Our Clients -->
{% endblock %}